<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit person</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/people/{id}(id=${person.id})}" th:object="${person}">
    Old name:
    <a th:text="${person.name}">Old name</a>
    <br/>
    <label th:for="name">Enter new name:
        <input type="text" th:field="*{name}" th:id="name"/>
    </label>
    <br/>
    <input type="submit" value="Update!"/>
</form>

</body>
</html>